<div class="jumbotron">
    <div class="container">
        <h1>
            <i class="fa fa-bath" aria-hidden="true"></i>
            And so is Font Awesome!
        </h1>
    </div>
</div>

<div class="container">
    <ul>
        <li *ngFor="let value of apiFacturat">{{value}}</li>
    </ul>
    <a href="#"
       class="btn btn-secondary"
       placement="bottom">
        Comenzar
    </a>
</div>


